.section-about{
    background-color: $color-gray-light-1;
    padding: 25rem 0;
    margin-top: -20vh;
    @include respond(tab-port){
        padding: 18rem 0;
    }
    @include respond(phone){
        padding: 18rem 0;
    }
}

.section-features{
    padding: 20rem 0;
    background-image: linear-gradient(to right bottom,rgba($color-primary-lighter, 0.8),rgba($color-primary-darker, 0.8)),            url("../img/nat-4.jpg");
    background-size: cover;
    transform: skewY(-7deg);
    -webkit-transform: skewY(-7deg);
    -moz-transform: skewY(-7deg);
    -ms-transform: skewY(-7deg);
    -o-transform: skewY(-7deg);
    margin-top: -10rem;
    & > * {
        transform: skewY(7deg);
        -webkit-transform: skewY(7deg);
        -moz-transform: skewY(7deg);
        -ms-transform: skewY(7deg);
        -o-transform: skewY(7deg);
    }
    @include respond(tab-port){
        padding: 14rem 0;
    }
    @include respond(phone){
        padding: 10rem 0;
    }
}

.section-tours{
    background-color: $color-gray-light-1;
    margin-top: -10rem;
    padding: 25rem 0 10rem 0;
    @include respond(tab-port){
        padding: 20rem 0 10rem 0;
    }
    @include respond(phone){
        padding: 15rem 0 12rem 0;
    }
}

.section-stories{
    padding: 15rem 0;
    background-color: $color-gray-light-1;
    @include respond(tab-port){
        padding: 10rem 0;
    }
    @include respond(phone){
        padding: 5rem 0;
    }
}
.section-book{
    padding: 15rem 0;
    background-image: linear-gradient(to right, $color-primary-lighter, $color-primary-darker);
    @include respond(phone){
        background-image: url("../img/nat-10.jpg");
        padding: 10rem 0;
    }
    @include respond(tab-port){
        background-image: url("../img/nat-10.jpg");
        padding: 12rem 0;
    }
    @include respond(tab-land){
        background-image: url("../img/nat-10.jpg");
    }
}

.book{
    background-image: linear-gradient(100deg, rgba($color-white, 0.9) 0%,rgba($color-white, 0.9) 50%, transparent 50%) ,  url("../img/nat-10.jpg");
    background-size: 100%;
    height: 54rem;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0,0,0, $alpha: 0.2);
    &__form{
        width: 50%;
        padding: 6rem;
        @include respond(phone){
            width: 100%;
            padding: 3rem;
        }
        @include respond(tab-port){
            width: 100%;
            padding: 4rem;
        }
        @include respond(tab-land){
            background-image: url("../img/nat-10.jpg");
            width: 100%;
            padding: 4rem;
        }

    }
    @include respond(phone){
        background-image: linear-gradient(to right, #eee, #ddd);
        height: 56rem;
    }
    @include respond(tab-port){
        background-image: linear-gradient(to right, #eee, #ddd);
        height: 56rem;
    }
    @include respond(tab-land){
        background-image: linear-gradient(to right, #eee, #ddd);
        height: 56rem;
    }
}